<h1>Your bookings </h1>

<%= @service_bookings.each do |service_bookings|  %>
<% service_bookings.each do |service_booking|  %>
<%= link_to service_path(service_booking.service) do %>
<%= cl_image_tag service_booking.service.user.image_url.key, class: "img-fluid rounded-start" %>
<% end %>
<h5><%= service_booking.service.speciality %> <%= service_booking.service.price %></h5>
<p>Professional <%= service_booking.user.full_name %></p>
<p>Value: <%= service_booking.service.price %>/per hour</p>
<p>Date: <%= service_booking.booking.booking_date %></p>
<p>Location: <%= service_booking.booking.location.present? ? service_booking.location : "Link-zoom"%></p>
<%= link_to "Delete this booking", booking_path(service_booking), method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
<% end %>
<% end %>