<div class="container mb-5">
  <h1><span id="title-typed-text" ></span></h1>
  
  <div class="cards">
    <% @bookings_requested.each do |booking_requested| %>
      <div class="col card-product-bookings text-center">
        <div>
          <h5 class="index-card-title"><%= booking_requested.service.speciality %></h5>
        </div>
        <div class="row index-card-info">
          <div class="card-img">
            <%= cl_image_tag booking_requested.service.user.photo.key, class:"img-fluid rounded-circle avatar-square", style: "margin-bottom: 25px" %>
          </div>
          <div>
            <p><i class="fas fa-male p-1"></i><%= booking_requested.service.user.full_name %></p>
            <p><i class="fas fa-calendar-day p-1"></i><%= booking_requested.booking_date.strftime(" %B %d, %Y ") %></p>
            <p><i class="fas fa-apple-alt p-1"></i><%= booking_requested.service.speciality %></p>
            <p><i class="far fa-credit-card"></i>USD <%= booking_requested.service.price %></p>       
          </div>
          <div>
            <p><i class="far fa-credit-card"></i>USD <%= booking_requested.service.price %> /appt</p>
          </div>
          <div>
            <p><i class="fas fa-globe-americas"></i><%= booking_requested.service.user.nationality %></p>
          </div>
          <div>
            <p><i class="fas fa-font"></i></i><%= booking_requested.service.user.language %></p>
          </div>
          <div>
            <p><i class="fas fa-calendar-day p-1"></i></i><%= booking_requested.booking_date %></p>
          </div>
        </div>
        <div class="index-card-btn text-center" >
          <div class="user-button-actions mb-5">
            <% if booking_requested.booking_date > Time.now %> <%= link_to "Join meeting", booking_requested.meeting_url, class: 'btn btn-booking' %>
            <%= link_to "Cancel appointment", booking_path(booking_requested),
            method: :delete, data: { confirm: "Are you sure you want to cancel this appointment?" }, class:"btn btn-cancel-booking" %>
          </div>
          <% else %>
            <%= link_to 'Leave a Review', booking_path(booking_requested), class:'btn btn-booking', style:'margin-top: 35px' %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
</div>
<h1></h1>

