<h1>Your bookings </h1>

<%= @bookings_given.each do |booking_given|  %>
<%= link_to service_path(booking_given.service) do %>
<%= cl_image_tag booking_given.service.user.photo.key, class: "img-fluid rounded-start" %>
<% end %>
<h5><%= booking_given.service.speciality %> <%= booking_given.service.price %></h5>
<p>Professional <%= booking_given.user.full_name %></p>
<p>Value: <%= booking_given.service.price %>/per hour</p>
<p>Date: <%= booking_given.booking_date %></p>
<p>Location: <%= booking_given.location.present? ? booking_given.location : "Link-zoom"%></p>
<%= link_to "Delete this booking", booking_path(booking_given), method: :delete, data: { confirm: "Are you sure you want to delete this booking?" } %>
<% end %>