<div class="container">
<h2 class="text-center mb-3">Bookings</h2>
  <div class="d-flex justify-content-center text-center">
    <% @bookings_requested.each do |booking_requested| %>
    <div class="card ml-3 rounded shadow mb-5" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title text-center">Nutritionist Details</h5>
        <%= cl_image_tag booking_requested.service.user.photo.key, class:
        "img-fluid rounded-start avatar-square" %>
        <h5><%= booking_requested.user.full_name %></h5>
        <p>
          <strong>Value:</strong> <%= booking_requested.service.price %>/per
          hour
        </p>
        <p><strong>Date:</strong> <%= booking_requested.booking_date %></p>
        <p>
          <strong>Location:</strong> <%= booking_requested.service.location%>
        </p>
        <%= link_to "Delete", booking_path(booking_requested),
        method: :delete, data: { confirm: "Are you sure you want to delete this
        booking?" }, class:"btn btn-booking" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
