<div class="container">
  <h1 class="text-center mb-5">Bookings</h1>
    <div class="d-flex justify-content-center mb-5">
  <% @bookings_given.each do |booking_given| %>
    <div class="card ml-3 rounded shadow mb-5" style="width: 18rem">
      <div class="card-body">
        <%= cl_image_tag booking_given.service.user.photo.key, class: "img-fluid
        rounded-start avatar-square" %>
        <p><strong>Patient: </strong><%= booking_given.user.full_name %></p>
        <p><strong>Date: </strong><%= booking_given.booking_date %></p>
        <p><strong>Location: </strong><%= booking_given.service.location%></p>
        <%= link_to "Cancel this Booking", booking_path(booking_given), method:
        :delete, data: { confirm: "Are you sure you want to delete this
        booking?" }, class:"btn btn-booking" %>
      </div>
    </div>
<% end %>
 
</div>



