<div >
  <section class="container text-center">
    <h1>
      Hello <%=  current_user.full_name %>,
    </h1>
    <p style="color:#727272;">Thank you for being a loyal Nutrition Anywhere member.</p>
  </section>
    <div class="bg-light box-settings">
      <section class="bg-light border shadow mb-5">
        <div class="settings-content">
        <div class="d-flex justify-content-between info-settings">
          <p class="data-settings">Username</p>
          <p class="data-user"> <%= current_user.full_name %></p>
        </div>
        <div class="d-flex justify-content-between info-settings">
          <p class="data-settings">E-mail Address</p>
          <p class="data-user"> <%= current_user.email %></p>
        </div>
        <div class="d-flex justify-content-between info-settings">
          <p class="data-settings">Password</p>
          <p class="data-user"> ********</p>
        </div>
        <div class="d-flex justify-content-between info-settings">
          <p class="data-settings">Language</p>
          <p class="data-user"> <%= current_user.language %></p>
        </div>
        <div class="d-flex justify-content-between info-settings">
          <p class="data-settings">Nationality</p>
          <p class="data-user"> <%= current_user.nationality %></p>
        </div>

        <% if current_user.nutritionist? %>
          <section class="mb-5">
            <% if current_user.zoom_token? %>
              <div>Congratulations you logged in with Zoom</div>
            <% else %>
              <%= link_to "Connect to Zoom", "https://zoom.us/oauth/authorize?client_id=#{ENV['ZOOM_CLIENT_ID']}&response_type=code&redirect_uri=#{ENV['ZOOM_CALLBACK']}", class: "btn btn-primary" %>
            <% end %>
          </div>
        </section>
      </div>
      <% end %>
    </section>
      <div class="text-center">
        <%= link_to "Edit my account", edit_user_registration_path, class:"btn btn-primary" %>

        <%= link_to "Cancel my account",  destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
      </div>
</div>