 <div class="card ml-3 rounded shadow" style="width: 18rem">
    <%= image_tag "booking.png", class:"card-img-top", alt:"Third slide"%>
    <div class="card-body">
      <h5 class="card-title">Nutritionist Details</h5>
      <p class="card-text">
      <p class="card-text">
        <strong>Name:</strong> <%= @service.user.full_name %>
      </p>
        <strong>Speciality:</strong> <%= @service.speciality %> 
      </p>
      <p class="card-text">
        <strong>Language: </strong><%= @service.user.language %> 
      </p>
      <p class="card-text">
        <strong>Price: </strong>USD <%= @service.price %> / per hour
      </p>
       <p class="card-text">
        <%= @review.rating %>
      </p>
    </div>
  </div>