
  <div>
  <%= simple_form_for @service do |f| %>
     <%= f.input :price, label: "Price (EURO/ hour)" %>
     <%= f.input :speciality, collection: ['vegan', 'keto'] %>

      <%= f.simple_fields_for :users do |posts_form| %>
      <%= posts_form.input :full_name %>
      <%= posts_form.input :nationality %>
      <%= posts_form.input :language %>

      <% end %>
    <%= f.button :submit, "Submit information", class: "text-white" %>

  <% end %>

  </div>
