<div style="display: flex"
>
  <div style="width: 35%">
    <div>
        <div
      id="id1"
      class="carousel slide"
      data-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
    
        <%= image_tag "nutri4", class:"d-block w-100", alt:"First slide"%>
        </div>
        <div class="carousel-item">
        <%= image_tag "nutri3", class:"d-block w-100", alt:"Second slide"%>
        </div>
        <div class="carousel-item">
        <%= image_tag "nutri5", class:"d-block w-100", alt:"Third slide"%>
        </div>
        <div class="carousel-item">
        <%= image_tag "nutri3", class:"d-block w-100", alt:"Fourth slide"%>
        </div>
      </div>
    </div>
    </div>

    <div
      id="id"
      class="carousel slide"
      data-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h3>Find a Nutritionist that </h3>
            <h3 style="color:#0030ff"><strong>speaks your language</strong></h3>
          </div>
        </div>
        <div class="carousel-item">
          <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h3 >Find a Nutritionist</h3>
            <h3 style="color:#0030ff"><strong>from your culture</strong></h3>
          </div>
        <div>
        
        </div>
        </div>
        <div class="carousel-item">
          <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h3 >Find a Nutritionist</h3>
            <h3 style="color:#0030ff"><strong>that is close to you</strong></h3>
          </div>
        </div>
        <div class="carousel-item">
          <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h3>Find a Nutritionist</h3>
            <h3 style="color:#0030ff"><strong>that is on your budget</strong></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="slider-2"
    class="carousel slide"
    data-ride="carousel"
    style="width: 65%"
    data-interval="3000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "recipe", class:"d-block w-100", alt:"First slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "food", class:"d-block w-100", alt:"Second slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "high-prote", class:"d-block w-100", alt:"Third slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "foo1", class:"d-block w-100", alt:"Fourth slide"%>
      </div>
    </div>
  </div>
</div>
