<div style="display: flex">
  <div style="width: 35%">
    <div>
        <div
      id="id1"
      class="carousel slide"
      data-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
    
        <%= image_tag "/nutri4.jpeg", class:"d-block w-100", alt:"First slide"%>
        </div>
        <div class="carousel-item">
        <%= image_tag "/nutri3.jpeg", class:"d-block w-100", alt:"Second slide"%>
        </div>
        <div class="carousel-item">
        <%= image_tag "/nutri5.jpeg", class:"d-block w-100", alt:"Third slide"%>
        </div>
        <div class="carousel-item">
        <%= image_tag "/nutri3.jpeg", class:"d-block w-100", alt:"Fourth slide"%>
        </div>
      </div>
    </div>
    </div>

    <div
      id="id"
      class="carousel slide"
      data-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h2>Find a Nutritionist</h2>
            <h3 style="color:#0030ff"><strong>that speaks your language</strong></h3>
          </div>
        </div>
        <div class="carousel-item">
        <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h2 >Find a Nutritionist that</h2>
            <h3 style="color:#0030ff"><strong>that is from your culture</strong></h3>
          </div>
        <div>
        
        </div>
        </div>
        <div class="carousel-item">
          <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h2 >Find a Nutritionist that</h2>
            <h3 style="color:#0030ff"><strong>that is close to your</strong></h3>
          </div>
        </div>
        <div class="carousel-item">
          <div class="pl-3 pt-3" style="font-family:helvetica;">
            <h2 >Find a Nutritionist that</h2>
            <h3 style="color:#0030ff"><strong>that is on your budget</strong></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="slider-2"
    class="carousel slide"
    data-ride="carousel"
    data-interval="3000"
    data-pause="hover"
    style="width: 65%"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "/recipe.jpeg", class:"d-block w-100", alt:"First slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "/food.jpeg", class:"d-block w-100", alt:"Second slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "/high-prote.jpeg", class:"d-block w-100", alt:"Third slide"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "/foo1.jpeg", class:"d-block w-100", alt:"Fourth slide"%>
      </div>
    </div>
  </div>
</div>
