<div class="container">
<div class="mb-3">
      <%= simple_form_for :query, url: services_path, method: "GET", html: {class: 'form-inline search-bar'} do |form|%>
        <div class="form">
          <%= form.input :speciality, label: 'Speciality', label: false, collection: ['Sports Nutritionism', 'Pediatric Nutritionist', 'Vegan Nutritionist', 'Keto Nutritionist',  'Oncology Nutritionist', 'Eating Disorder Nutritionist'], prompt: "Speciality"%>
        </div>
        <div class="form">
          <%= form.input :price, label: 'Price', label: false, collection: ['70', '90', '100', '120', '150'], prompt: "Price in USD "%>
        </div>
        <div class="form">
          <%= form.input :nationality, label: 'Nutritionist Nationality', label: false, collection: ['Argentinian', 'Spanish', 'French', 'Italian', 'Portuguese', 'Chinese'], prompt: "Nationality"%>
        </div>
        <div class="form">
          <%= form.input :language, label: 'Nutritionist Language', label: false, collection: ['Spanish', 'French', 'Italian', 'Portuguese', 'Mandarin Chinese'], prompt: "Language"%>
        </div>
        <div class="form">
          <%= form.submit "Find a nutritionist", class:"btn btn-booking" %>
        </div>
        <div class="form">
        </div>
      <%end%> 
  </div>
  
  <%= render 'slider' %>
  <br>
   
<section class="sections">
<div class="works-wraper pb-4">
  <h4 class=" pt-5 ml-3">How does it work <span style="font-family: 'Otomanopee One', sans-serif; color: #0030ff">Nutrition Anywhere<span>?</h4>

  <div class="container text-center pt-3 ">
    <!-- cards produc -->
    <div class="d-flex justify-content-center">
      <!-- card produc 1 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "sing-in", class:"card-img-top", alt:"Third slide"%>

        <div class="card-body">
          <h5 class="card-title">Sign in</h5>
          <p class="card-text">
           Do you have an account? Make sure you have one to check our Nutritionists!
          </p>
        </div>
      </div>

      <!-- card produc 2 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "search", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Find a Nutritionist</h5>
          <p class="card-text">
            Are you an expats and you want a Nutritionist that speaks your language? Find the Nutritionist according to your needs!
          </p>
        </div>
      </div>

      <!-- card produc 3 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "booking", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Book the Appointmet</h5>
          <p class="card-text">
            Did you find the perfect Nutritionist? It is time to book the appointment!
          </p>
        </div>
      </div>

      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "feedback", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Leave a feedback</h5>
          <p class="card-text">
            Are you happy with the service provided by our Nutritionist? We want to know your opinion!
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section>
  <h4 class="mt-5 ml-3">Are you a Nutritionist and want to be part of <span style="font-family: 'Otomanopee One', sans-serif; color: #0030ff">Nutrition Anywhere<span>?</h4>

  <div class="container text-center pt-3 ">
    <!-- cards produc -->
    <div class="d-flex justify-content-center">
      <!-- card produc 1 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "sing-in", class:"card-img-top", alt:"Third slide"%>

        <div class="card-body">
          <h5 class="card-title">Sign in</h5>
          <p class="card-text">
           Do you have an account? Make sure you have one to check our Nutritionists!
          </p>
        </div>
      </div>

      <!-- card produc 2 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "search", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Find a Nutritionist</h5>
          <p class="card-text">
            Are you an expats and you want a Nutritionist that speaks your language? Find the Nutritionist according to your needs!
          </p>
        </div>
      </div>

      <!-- card produc 3 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "booking", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Book the Appointmet</h5>
          <p class="card-text">
            Did you find the perfect Nutritionist? It is time to book the appointment!
          </p>
        </div>
      </div>

      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "feedback", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <h5 class="card-title">Leave a feedback</h5>
          <p class="card-text">
            Are you happy with the service provided by our Nutritionist? We want to know your opinion!
          </p>
        </div>
      </div>
    </div>
  </section>
</div>


<style>
.form{
  margin: 5px;
}
.search-bar{
    justify-content: center;
    }

.sections{
  padding-top:70px;
  padding-bottom:70px;
}
</style>