<div class="container">

  <%= render 'slider' %>
  <br>
  <h4 class="mt-5 mb-3 pl-3">Search a Nutritionist according to your needs</h4>
      <%= simple_form_for :search, url: services_path, html: {class: 'form-inline search-bar'}, method: "GET" do |form| %>
        <div class="form">
          <%= form.input :speciality, inline_label: 'Speciality', label: false, collection: ['Sports Nutrition', 'Keto Specialist', 'Vegan Specialits', 'Lose weight Specialist',  'Celiac disease Specialist', 'Eating Disorder Specialist'],include_blank: false%>
        </div>
        <div class="form">
          <%= form.input :price, inline_label: 'Price', label: false, collection: ['$70', '$90', '$100', '$120', '$150'], include_blank: false %>
        </div>
        <div class="form">
          <%= form.input :nationality,  inline_label: 'Nutritionist Nationality', label: false, collection: ['Argentinian', 'Spanish', 'French', 'Italian', 'Portuguese', 'Chinese'], include_blank: false %>
        </div>
        <div class="form">
          <%= form.input :language,  inline_label: 'Nutritionist Language', label: false, collection: ['Spanish', 'French', 'Italian', 'Portuguese', 'Mandarin Chinese'], include_blank: false %>
        </div>
        <div class="form">
          <%= form.submit "Find a nutritionist", class:"btn btn-primary" %>
        </div>
        <div class="form">
          <%= link_to "See all", services_path ,class:"btn btn-primary" %>
        </div>
      <%end%>   

<div class="works-wraper pb-4">
  <h4 class=" pt-5 ml-3">How does it work?</h4>

  <div class="container text-center pt-3 ">
    <!-- cards produc -->
    <div class="d-flex justify-content-center">
      <!-- card produc 1 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "sing-in", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
        <i class="fas fa-search"></i>
          <h5 class="card-title">Sign in</h5>
          <p class="card-text">
           Do you have an account? Make sure you have one to check our Nutritionists!
          </p>
        </div>
      </div>

      <!-- card produc 2 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "search", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <i class="fas fa-calendar-check"></i>
          <h5 class="card-title">Find a Nutritionist</h5>
          <p class="card-text">
            Are you an expats and you want a Nutritionist that speaks your language? Find the Nutritionist according to your needs!
          </p>
        </div>
      </div>

      <!-- card produc 3 -->
      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "booking", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <i class="fas fa-comments"></i>
          <h5 class="card-title">Book the Appointmet</h5>
          <p class="card-text">
            Did you find the perfect Nutritionist? It is time to book the appointment!
          </p>
        </div>
      </div>

      <div class="card ml-3 rounded shadow" style="width: 18rem">
        <%= image_tag "feedback", class:"card-img-top", alt:"Third slide"%>
        <div class="card-body">
          <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
          <h5 class="card-title">Leave a feedback</h5>
          <p class="card-text">
            Are you happy with the service provided by our Nutritionist? We want to know your opinion!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
.form{
  margin: 5px;
}
.search-bar{
    justify-content: center;
    }
</style>